
header {
    background-color:white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: 60x;
    border:1px;
}

h2 {
    background-color: teal;
    padding: 10px;
    width: 200px;
    text-align: center;
    color:white;
    
}

h3 {
    color: teal;
    border-bottom-color: darkgrey;
}



img {
    float: left;
    margin: 0px 0px 15px 15px;
    width="100"
    
}
 
body {
    border:1px;
}

.container {
    background-color: #ddd;
    color: #777777;
  /*text-align: center;*/
    
    
}
section {
    background-color: white;
    width: 968px;
    margin:0 auto;
    height: 430px;

}



.topnav a {
    background-color: white;
    width: 68px;
    float: right;
    color: #777777;
}



.footer {
    height: 60px;
    margin-top: 115px;
    background-color: #666666;
    border-top: 8px soild #4aaaa5;
    text-align: center;
    color: white;
    clear: both;
}